body{
background-color: rgb(185, 219, 233);
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 10 px;




}
h1{
color:bisque;



}
pre{
color:rgb(230, 173, 104);
font-size: 15 px;
}